<div class="card-body">

    <h4>With icons</h4>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
    </div>
    <input type="email" class="form-control" placeholder="Email" control-id="ControlID-60">
    </div>
    <div class="input-group mb-3">
    <input type="text" class="form-control" control-id="ControlID-61">
    <div class="input-group-append">
    <span class="input-group-text"><i class="fas fa-check"></i></span>
    </div>
    </div>
    <div class="input-group">
    <div class="input-group-prepend">
    <span class="input-group-text">
    <i class="fas fa-dollar-sign"></i>
    </span>
    </div>
    <input type="text" class="form-control" control-id="ControlID-62">
    <div class="input-group-append">
    <div class="input-group-text"><i class="fas fa-ambulance"></i></div>
    </div>
    </div>
    
    </div>
    